<div class="index-page">
    <!-- Navbar -->
    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://www.creative-tim.com">
                    <div class="logo-container">
                        <!--
                        <div class="logo">
                            <img src="assets/img/logo.png" alt="Creative Tim Logo" rel="tooltip" title="<b>Material Kit</b> was Designed & Coded with care by the staff from <b>Creative Tim</b>" data-placement="bottom" data-html="true">
                        </div>
                        -->
                        <div class="brand">
                            SmartTools
                        </div>
                    </div>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navigation-index">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Nosotros
                        </a>
                    </li>
                    <li>
                        <a rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" class="btn btn-white btn-simple btn-just-icon" data-original-title="Follow us on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" class="btn btn-white btn-simple btn-just-icon" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" class="btn btn-white btn-simple btn-just-icon" data-original-title="Follow us on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url(&quot;assets/img/Bogota_bg.jpg&quot;);">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand">
                            <h1>Pooler</h1>
                            <h3>Mejorando la forma de vivir el tráfico en las ciudades.</h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-primary btn-lg btn-block">Quiero mejorar mi movilidad</button>
                    </div>				
                </div>

            </div>
        </div>

        <div class="main main-raised">
            <div class="section section-basic">
                <div class="container">
                    <!-- BEGIN Section 1 -->
                    <div class="title text-center">
                        <h2>Cambiamos la forma de viajar en la ciudad</h2>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-2">
                            <img src="assets\img\sections\section_1\armchair.png" alt="Rounded Image" class="img-rounded img-responsive">
                            <div class="text-center">
                                <h3>Comodidad</h3>
                                <p>Un cupo amplio reservado para ti</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <img src="assets\img\sections\section_1\shield.png" alt="Circle Image" class="img-circle img-responsive">
                            <div class="text-center">
                                <h3>Seguridad</h3>
                                <p>Monitoreo con cámara y GPS pensando en ti</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <img src="assets\img\sections\section_1\green-earth.png" alt="Raised Image" class="img-rounded img-responsive">
                            <div class="text-center">
                                <h3>Sostenibilidad</h3>
                                <p>Mejoramos la movilidad y contribuimos al medio ambiente</p>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <img src="assets\img\sections\section_1\management.png" alt="Thumbnail Image" class="img-circle img-responsive">
                            <div class="text-center">
                                <h3>Inteligencia</h3>
                                <p>Rutas dinámicas y eficientes para tu puntualidad</p>
                            </div>
                        </div>
                    </div>
                    <!--  END  Section 1 -->
                    <hr/>
                    <!-- BEGIN Section 2 -->
                    
                    <div class="title text-center">
                        <h2>¡Vivir esta experiencia es fácil y está en tus manos!</h2>
                    </div>
                    <br>
                    <div class="row">
                        <div class="text-center">
                            <ul class="pagination pagination-primary">
                                <!--
                                    color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                                -->
                                <li class="active"><a href="javascript:void(0);">1<div class="ripple-container"></div></a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                            </ul>
                            <h5>Ingresa tu dirección de origen y destino</h5>
                            <br>
                            <ul class="pagination pagination-primary">
                                <!--
                                    color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                                -->
                                <li><a href="javascript:void(0);">1</a></li>
                                <li class="active"><a href="javascript:void(0);">2</a></li>
                                <li><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                            </ul>
                            <h5>Selecciona la hora de llegada a tu destino. Puedes reservar tu cupo con mínimo dos horas de anticipación</h5>
                            <br>
                            <ul class="pagination pagination-primary">
                                <!--
                                    color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                                -->
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li class="active"><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                            </ul>
                            <h5>Elije una de las rutas pensadas para ti</h5>
                            <br>
                            <ul class="pagination pagination-primary">
                                <!--
                                    color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                                -->
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li><a href="javascript:void(0);">3</a></li>
                                <li class="active"><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                            </ul>
                            <h5>Reserva tu asiento y escoge tu forma de pago</h5>
                            <br>
                            <ul class="pagination pagination-primary">
                                <!--
                                    color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
                                -->
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li class="active"><a href="javascript:void(0);">5</a></li>
                            </ul>
                            <h5>Camina hasta tu punto de parada, disfruta tu viaje y de los servicios a bordo</h5>
                            
                        </div>
                            
                    </div>
                    <!--  END  Section 2 -->
                    <hr/>
                    <!-- BEGIN Section 3 -->
                    
                    <div class="title text-center">
                        <h2>Tu viaje con servicios pensados en ti</h2>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-2">
                            <img src="assets\img\sections\section_3\wifi-symbol.png" alt="Rounded Image" class="img-rounded img-responsive">
                            <div class="text-center">
                                <h3>Wifi gratis</h3>
                                <p>Envía correos, disfruta de ese video que tanto te gusta o revisa tus redes sociales</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <img src="assets\img\sections\section_3\battery.png" alt="Circle Image" class="img-circle img-responsive">
                            <div class="text-center">
                                <h3>Carga tu dispositivo</h3>
                                <p>No te quedes sin batería, mantente conectado</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <img src="assets\img\sections\section_3\pear.png" alt="Raised Image" class="img-rounded img-responsive">
                            <div class="text-center">
                                <h3>Calma tu hambre y sed</h3>
                                <p>Venta de snacks y bebidas a bordo</p>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <img src="assets\img\sections\section_3\driver.png" alt="Thumbnail Image" class="img-circle img-responsive">
                            <div class="text-center">
                                <h3>Conductores capacitados</h3>
                                <p>Atención al cliente, primeros auxilios y manejo defensivo</p>
                            </div>
                        </div>
                    </div>
                    <!--  END  Section 3 -->
                    <hr/>
                    <!-- BEGIN Section 4 -->
                    <div class="title text-left">
                        <h2>Y eso no es todo</h2>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="text-justify">
                                <p>Si necesitas algo al bajar, lo tenemos para ti. Imprime, compra papelería o cualquier otra cosa desde tu celular durante tu viaje.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center">
                                <h3>IMAGEN</h3>
                                <p>IMAGEN</p>
                            </div>
                        </div>
                    </div>
                    <!--  END  Section 4 -->
                    <hr/>
                    <!-- BEGIN Section 5 -->
                    <div class="title text-center">
                        <h2>¡Empieza a ser parte de la comunidad Pooler, comparte una van y vive la experiencia!</h2>
                    </div>
                    
                    <!--  END  Section 5 -->
                    <hr/>
                    <!-- BEGIN Section 6 -->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="text-justify">
                                <h3>Descarga la app.</h3>
                                <div class="row">
                                    <div class="text-center">
                                        <div class="col-sm-6">
                                            <img src="assets\img\sections\section_6\google_badge.png" alt="Raised Image" class="img-rounded img-responsive">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="col-sm-6">
                                            <img src="assets\img\sections\section_6\apple_badge.png" alt="Raised Image" class="img-rounded img-responsive">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="text-justify">
                                <div class="row">
                                    <div class="text-center">
                                        <div class="col-sm-6">
                                            <h4>Escríbenos</h4>
                                            <h4>info@poolervans.com</h4>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="col-sm-6">
                                            <h4>Términos y condiciones</h4>
                                            <h4>Aviso de privacidad</h4>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="text-center">
                                <h3>LOGO</h3>
                                <p>LOGO</p>
                            </div>
                        </div>
                    </div>
                    
                    <!--  END  Section 6 -->
                    
                </div>
            </div>

        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="">
                                Pooler
                            </a>
                        </li>
                        <li>
                            <a href="">
                            Nosotros
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                            Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; 2017, Pooler todos los derechos reservados.
                </div>
            </div>
        </footer>
    </div>

    <!-- Sart Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-simple">Nice Button</button>
                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
</div>

    
